// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
//Inicio

p {
  margin-top: 250px;
  margin-bottom: -10px;
}

.logo {
  width: 80%;
  margin-bottom: -200px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.ondas {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
section.box {
  margin-top: -10px;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: $primary;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../assets/wave.png);
  background-size: 600px 100px;
}

section .wave.wave1 {
  animation: animate 60s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2 {
  animation: animate2 30s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5;
  bottom: 10px;
}
section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2;
  bottom: 15px;
}
section .wave.wave4 {
  animation: animate2 100s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 2000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -2000px;
  }
}
